{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block custom_style %}
        <style>
        td.writer, td.btn {border:0;}
        td.writer {color:#000;font-weight:bold;}
        td.writer span {margin-left:10px;color:#555;font-weight:normal;}
        td.btn {text-align:right;}
        td.btn img {width:15px;height:15px;}
        </style>
{% endblock custom_style %}

{% block custom_script %}
        <script>
        {% if request.user.is_authenticated %}
            {% if post_author == request.user %}
        function dropConfirm() {
            if(confirm('정말 삭제하시겠습니까?')) {
                location.href = '{% url 'blog:blog_delete' pk=post.pk %}';
            }
        }
            {% endif %}

        {% endif %}

        function getCommentRow(author, dt, id, comment) {
            str  = '';
            str += '<tr id="comment_'+id+'_head">';
            str += '<td class="writer" nowrap>';
            str += author;
            str += '<span>('+dt+')</span>';
            str += '</td>';
            str += '<td class="btn">';
            {% if request.user.is_authenticated %}
            if ('{{request.user}}'==author) {                            
                str += '<img src="{% static 'images/btnDrop.png' %}" onclick="dropComment('+id+');">';
            }
            {% endif %}
            str += '</td>';
            str += '</tr>';
            str += '<tr id="comment_'+id+'_tail"><td colspan="2">'+comment+'</td></tr>\n';
            return str;
        }

        function regist() {
            {% if request.user.is_authenticated %}
            var params = $("#frmEnt").serialize();
            $.ajax({
                url:"{% url 'blog:blog_comment_new' pk=post.pk %}",
                type:'post',
                data:params,
                success:function(result) {
                    $('#articlecomment').append(getCommentRow("{{request.user}}", "방금전", result, $("#comment").val()));
                    $("#comment").val("");
                }
            });
            {% endif %}
        }

        </script>
{% endblock custom_script %}

{% block custom_actions %}
    {% if request.user.is_authenticated %}
        {% if post_author == request.user %}
            <a href='{% url 'blog:blog_edit' pk=post.pk %}'>EDIT</a>
            <a href='javascript:dropConfirm()'>DROP</a>
        {% endif %}
        <a href='{% url 'blog:blog_new' %}'>NEW</a>
    {% endif %}
{% endblock custom_actions %}

{% block location %}
    &nbsp;&nbsp;/&nbsp;&nbsp;<a href='{% url 'blog:blog_list' %}'>BLOG</a>
    &nbsp;&nbsp;/&nbsp;&nbsp;<a href='{% url 'blog:blog_list' %}?cat={{ post.category.pk }}'>{{ post.category.category_name }}</a>
{% endblock %}

{% block content %}
    <div class="post">
        <h1 class='title'>{{ post.title }}</h1>

        <div class="subtitle">
            {% if post.published_date %}
            <p style='padding-bottom:15px;'>{{post.published_date}}&nbsp;|&nbsp;{{ post.category.category_name }}</p>
            <!-- span>PUBLISHED {{ post.published_date|date:"Y.m.d" }} {{ post.published_date|time:"H:i" }}</span -->
            <p>
            {% endif %}
            <span><a href='{% url 'blog:blog_list' %}?page={{page}}{% if category %}&cat={{category}}{% endif %}'>목록으로</a></span>
            <span id="speak">
                <a href="#articlecontent" onclick="speakStart();return false;" title="소리내어 내용 읽기">내용읽기</a>
                <a href="#articlecontent" onclick="speakContinue();return false;" title="소리내어 이어 읽기">이어읽기</a>
                <a href="#articlecontent" onclick="speakStop();return false;" title="그만 읽기">그만읽기</a>
            </span>
            </p>
        </div>

        <div>&nbsp;</div>

        <div>
            {% for f in files %}
            <img class='article_imgs' src='{{f.img.url}}' title='{{ f.img.name }}' />
            {% endfor %}
            <div id='articlecontent'>
                {% autoescape off %}
                    {{ post.text }}
                {% endautoescape %}
             </div>
            </div>

        {% if request.user.is_authenticated %}
        <form name="frmEnt" id="frmEnt" method="post" onsubmit="regist();return false;">
            {% csrf_token %}
            <input type='hidden' name='page' value='{{page}}'>
            <input type='hidden' name='cat' value='{% if category %}{{category}}{% endif %}'>
            <input type="text" name="comment" id="comment" style="width:100%;" placeholder="당신의 생각을 덧붙이세요. 엔터키를 누르면 저장됩니다." title="댓글등록, 댓글을 쓰시고 엔터키를 누르면 저장됩니다.">
        </form>
        {% endif %}

        <table id='articlecomment' style="width:100%;">
            <colgroup>
                <col style="width:*;">
                <col style="width:20px;">
            </colgroup>
            <tbody></tbody>
        </table>

    </div>

    <script src='{% get_static_prefix %}js/SpeechText.js?00004' type='text/javascript'></script>
    <script type='text/javascript'>
        var start = false;
        var st = new SpeechText('59d225a9634d334550e6a834', 'ko-KR', 'articlecontent');
        function speakStart() {
        	st.start();
        	start = true;
        };
        function speakContinue() {
        	st.keepon();
        	start = true;
        };
        function speakStop() {
        	st.stop();
        	start = false;
        };
        st.msg.onend = function(e) {
        	if (start) speakContinue();
        };

        {% if request.user.is_authenticated %}
        function dropComment(id) {
            $.ajax({
                url:"{% url 'blog:blog_comment_list' pk=post.pk %}"+id +"/delete/",
                success:function(result) {
                    console.log(result);
                    $("#comment_"+result+"_head").fadeOut();
                    $("#comment_"+result+"_tail").fadeOut();
                }
            });
        }
        {% endif %}

        $(document).ready(function(){
            $.ajax({
                url:"{% url 'blog:blog_comment_list' pk=post.pk %}",
                success:function(data) {
                    var d = eval(data);
                    var str = "";
                    for (var n in d) {
                        str += getCommentRow(d[n]['author'], d[n]['dt'], d[n]['id'], d[n]['comment']);
                    }
                    $('#articlecomment').html(str); 
                    // console.log($('#articlecomment').html());
                }
            });
        });

    </script>

{% endblock %}